@import "footer";
@import "colors";

*{
    box-sizing: border-box;
}

body,html{
    width:100%;
    height:100%;
    padding:0;
    position: relative;
    margin:0;
    font-family: 'Raleway', sans-serif;
}
.modal-content{
    width:100%;
    height:100%;
    position: fixed;
    overflow: scroll;
    top:0;
    background-color:#fff;
    bottom:0;
    z-index:9999;
    display: none;
    .head{
        height:60px;
        width:100%;
        border-bottom:1px solid rgba($banner-footer-color,0.4) ;
        padding-top:10px;
        padding-right: 20px;;
        i{
            float:right;
            color:$gold;
            font-size:18px;
        }
    }
    .panel-group{
        width:100%;
        .panel-heading{
            background-color: #fff;
            color:#000;
            padding: 15px 10px;
            cursor:pointer;
            border-bottom:1px solid rgba($banner-footer-color,0.4);
            transition:0.2s ease-in;
            a{
                color: #000;
                h4{
                    font-size:17px;
                    margin: 0;
                    font-weight: 700;
                }
                
            }
            i{
                float:right;
                color:$light-green;
                cursor: pointer;
            }
            a:hover{
                text-decoration: none;
            }
        }
        // .panel-heading:hover{
        //     background-color: $theme-blue;
        //     color:$theme-white;
        //     a{
        //         color:$theme-white;
        //     }
        // }
        .panel-collapse{
            font-size:13px;
            padding:10px;
            background-color:#f7f7f7;
            p{
                font-weight:700;
                margin-bottom:5px;
                margin-top: 20px;;
                font-size:13px;
            }
            li{
                list-style: none;
                a{
                    color:$light-green;
                }
                a:hover{
                    text-decoration:none;
                }
            }
            li:hover{
                font-weight: 700;;
            }
            
                
        }
    }
    h2{
        color:$banner-footer-color;
        font-weight:700;
        margin-top:20px;
        margin-left:15px;
    }
    .quick{
        padding-left:15px;
        li{
            list-style: none;
            margin-top:10px;
            a{
                color:$light-green

            }
        }
    }
}
.super-header{
    width:100%;
    height:30px;
    padding-top:5px;
    background-color:$light-green;
    .container{
        color:#f7f7f7;
        .left{
            li{
                list-style: none;;
                float:left;
                font-size:12px;
                i{
                    font-size:15px;
                    float: left;
                }
                .fa-phone,.fa-envelope{
                    font-size:11px;
                }
                p{
                    margin-top:0;
                }
            }
            .shit{
                margin-left:15px;
            }
           
        }
        .right{
            
            li{
                float:right;
                list-style: none;
                font-weight:700;
                font-size:13px;
                a{
                    color:#f7f7f7;
                    margin-left:15px;
                }
            }
        }
    }
    @media only screen and (max-width:320px){
        display: none;
    }

    @media only screen and (min-width:321px) and (max-width:720px){
        display: none;
    }
}

header{
    background-color:$header-color;
    height:70px;
    color:#f0f0f0;
    padding: 10px 15px 0 15px;
    transition: 0.2s ease-in;
    .logo{
        padding-top: 0px;
        
        .main{
            
            height:30px;
            width:30px;
            float: left;;
            margin-right:20px;
            animation: tada 1s ease-in 2s 1 normal forwards;
            img{
                height:50px;
                width:50px;
            }
        }
        .tex{
            margin-left:20px;
            margin-top:10px;
            h3{
                font-size:11px;
                color:#000;
                font-weight:700;
            }
        }
      
        @keyframes tada{
          0% {
            -webkit-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
          }

          10%, 20% {
            -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
          }

          30%, 50%, 70%, 90% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
          }

          40%, 60%, 80% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
          }

          100% {
            -webkit-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
          }
        }
        i{
            display:none !important;
            color:#000;
            float:right;
        }
    }
    .col-md-3,.col-md-9{
        padding-left: 0;
        padding-right: 0;
        
    }

    ul{
        padding-left: 0;
        margin-top: 15px;
        
        li{
            list-style: none;
            float:left;
            font-size:13px;
            font-weight: 700;
            cursor:pointer;
            a{
                color:#000;
            }
            img{
              margin-left: 5px;  
            }
            a:hover{
                text-decoration: none;
                color:$gold;
            }
        }
        .next_one{
            padding-left: 18px;
        }
        
    }
    @media only screen and (max-width:320px){
        .logo{
            //width:250px;
            .main{
                margin-right:0;
                img{
                    width:40px;
                    height:40px;
                }
            }
            .tex{
                width:70%;
                float:left;
                h3{
                    font-size:8px;
                    display: inline-block;
                }
            }
            i{
                display: block !important;
                float: right;
                font-size:20px;
                margin-top:15px;
            }
        }
       
        ul{
            li{
                display: none;
            }
            
        }
    }
   

    @media only screen and (min-width:321px) and (max-width:720px){
        
    }
    
}
section{
    height:560px;
    position: relative;
    overflow-y: hidden;
    width:100%;
    background-size: cover;
    background-image:linear-gradient(to bottom right, rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/Re1556893909.jpg);
    background-position: center;
    background-attachment: fixed;
    
    
        // ul
        //     padding-left: 0;
        //     margin-top: 15px;
            
        //     li{
        //         list-style: none;
        //         float:left;
        //         font-size:12px;
        //         font-weight: 500;
        //         cursor:pointer;
        //         a{
        //             color:$theme-white;
        //         }
        //         img{
        //           margin-left: 10px;  
        //         }
        //     }
        //     .next_one{
        //         padding-left: 50px;
        //     }
        // }
        @media only screen and (max-width:320px){
            height:350px;
        }

        @media only screen and (min-width:321px) and (max-width:720px){
            height:400px;
        }
    }
    .caption{
        color:$header-color;
        padding-top: 150px;
        .caption_text{
            width:40%;
            float:left;
        }
        .text_2,.text_3,.text_4{
            display: none;
        }
        .cons{
            float:right;
            width:50px;
            margin-top: 50px;
            .fas{
                color:$button-and-footer-color;
                height: 50px;
                font-size:20px;
                opacity: 0.6;
                cursor:pointer;
                transition: 0.2s ease-in;
                visibility: hidden;
            }
            .down{
                margin-top: 30px;
            }
            .fas:hover{
                opacity:1; 
            }
        }
        .cons:hover{
            .fas{
                visibility: visible;
            }
        }

        h1{
            font-size:50px;
            font-weight: 500;
        }
        
        p{
            font-size:15px;
            font-weight: 100;
        }
        button{
            width:150px;
            height:2.5em;
            color:$header-color;
            border:none;
            border-radius:7px;
            background-color: $button-and-footer-color;
            position: relative;
            overflow: hidden;
            z-index: 1;
            transition: 0.5s;
        }
       
        button:hover {
            color: $gold;
        }
        @media only screen and (max-width:320px){
            padding-top:70px;
            .caption_text{
                width:90%;
                h1{
                    font-size:30px;
                }
            }
        }
        @media only screen and (min-width:321px) and (max-width:720px){
            padding-top:100px;
            .caption_text{
                width:90%;
                h1{
                    font-size:40px;
                }
            }
        }


    }
    .bot{
        width:100%;
        position: absolute;
        bottom: 0;
        height:90px;
        padding-top: 10px;
        background-color:$banner-footer-color;
        .container{
            ul{
                padding: 0;
                font-weight: 300;
                li{
                    list-style: none;
                    color:$header-color;
                    font-weight: 300;
                    float:left;
                    text-transform: uppercase;
                    font-size:12px;
                    margin-right: 20px;
                    cursor:pointer;
                    border-right: 1px solid #302B1D;
                   
                    img{
                        width:40px;
                        height:40px;
                        margin-right: 15px;
                        margin-left: 15px;
                    }

                }
                :hover{
                    background-color:$light-green;
                }
                
                .shit{
                    margin-left: 25px;
                }
                li:hover{
                    span{
                        display: block;
                    }
                }
            }
        }
        @media only screen and (max-width:320px){
            display: none;
        }
        @media only screen and (min-width:321px) and (max-width:720px){
            display: none;
        }
    }

    .member{
        padding: 60px 0;
        .row{
            margin:0;
        }
        .text{

            h1{
                color:#000;
                font-weight:700;
                text-transform: uppercase;;
                margin-bottom:30px;
                position: relative;
            }
            h1:after{
                position: absolute;
                content: '';
                height: 1px;
                //top:50px;
                bottom:-4px;
                left: 0;
                right: 0;
               // margin-left:15px;
                width: 25%;
                background:$banner-footer-color;
            }
            p{
                font-size:15px;
            }
            button{
                float:left;
                width:120px;
                height:3em;
                color:#f0f0f0;
                font-weight: 600;
                border:none;
                font-size:13px;
                background-color: $light-green;
                position: relative;
                z-index: 1;
                transition: 0.5s;
            }
            button:hover{
                background-color:$gold;
            }
            h6{
                
                margin-top: 25px;
                a{
                    color:$light-green;
                    font-weight:700;
                    font-size:12px;
                    padding-left: 25px;
                }
            }

        }
        .images{
            position: relative;
            height:350px;
            .first-div{
                float:right;
                width:300px;
                height:250px;
                
                background-image: url(images/GettyImages-557476185.jpg);
                background-size:cover;
            }
            .second-div{
                position: absolute;
                width:280px;
                height:200px;
                background-image:url(images/GettyImages-180406407.jpg);
                //z-index:-9999;
                background-size:cover;
                border:8px solid #fff;
                margin-left:250px;
                margin-top:150px;
            }
            .third{
                //position:absolute;
                margin-right:-60px;
                margin-top:50px;
                width:250px;
                height:200px;
                z-index:9999;
                background-image: url(images/GettyImages-76132133.jpg);
                background-size:cover;
                
                background-position:bottom;
                float:right;
                border:8px solid #fff;
            
        }
    }
        @media only screen and (max-width:320px){
            padding:30px 0;
            .row{
                .text{
                    h1{
                        font-size:17px;
                    }
                    p{
                        font-size:11px;
                    }
                    button{
                        width:100px;
                        height:2.7em;
                        font-size:11px;
                    }
                    h6{
                        margin-top:18px;
                        a{
                            font-size:11px;
                        }
                    }
                    
                }
            }
            .images{
                display: none;
            }
        }
        @media only screen and (min-width:321px) and (max-width:720px){
            padding:40px 0;
            .row{
                .text{
                    h1{
                        font-size:19px;
                    }
                    p{
                        font-size:13px;
                    }
                    button{
                        width:110px;
                        height:3em;
                        font-size:11px;
                    }
                    h6{
                        margin-top:20px;
                        a{
                            font-size:11px;
                        }
                    }
                    
                }
            }
            .images{
                display: none;
            }
        }
    }


    .cover{
        background-color: #f7f7f7;
        height:600px;
        padding: 30px 0 0 0;
        .latest{
            h1{
                text-align: center;;
                font-weight:700;
                position: relative;
            }
            h1:after{
                position: absolute;
                content: '';
                height: 1px;
                bottom: -4px;
                left: 0;
                right: 0;
                margin:0 auto;
                width: 15%;
                background:$banner-footer-color;
            }
            .new{
                width:100%;
                margin-top:40px;
                .inn{
                    width:24.2%;
                    height:300px;
                    float:left;
                    .head{
                        border-bottom:1px solid $banner-footer-color;
                        padding: 10px 0;
                        height:40px;
                        h4{
                            float:left;
                            font-size:13px;
                            font-weight:700;
                            margin-bottom: 0;
                        }
                        p{
                            float:right;
                            margin-bottom:0;
                            a{
                                font-size:9px;
                                color:$banner-footer-color;
                                font-weight: 500;
                            }
                        }
                        
                    }
                    .image{
                        height:180px;
                        width:100%;
                        background-size:cover;
                        background-position: center;;
                        margin-top:10px;
                    }
                    .text{
                        h2{
                            font-size:17px;
                            font-weight: 800;;
                            margin-top:10px;
                        }
                        p{
                            font-size:13px;
                            color:#999;
                            font-weight:500;
                            margin-top:10px;
                        }
                        h5{
                            a{
                                color: $light-green;
                                font-weight: 700;
                                font-size:13px;
                            }
                        }
                    }
                }
                .shi{
                    margin-left:1%;
                }
            }
        }
        @media only screen and (max-width:320px){
            .latest{
                h1{
                    font-size:18px;
                }
                
                .new{
                    .inn{
                        width:100%;
                        margin:auto;
                    }
                }
                .mob{
                    display: none;
                }
            }
        }
        @media only screen and (min-width:320px) and (max-width:720px){
            .latest{
                h1{
                    font-size:18px;
                }
                
                .new{
                    .inn{
                        width:100%;
                        margin:auto;
                    }
                }
                .mob{
                    display: none;
                }
            }
        }
    }

    .council{
        background-color:#302B1D;
        color:#fff;
        height: 450px;
        .mx-auto{
            width:50%;
            margin: auto;
            text-align:center;
            padding:60px 0;
            h1{
                text-transform: uppercase;
                font-weight: 800;
                font-size:27px;
                position: relative;
            }
            h1:after{
                position: absolute;
                content: '';
                height: 1px;
                bottom: -4px;
                left: 0;
                right: 0;
                margin:0 auto;
                width: 15%;
                background:#f7f7f7;
            }
            p{
                font-size:14px;
                margin-top:20px;
            }
        }
        .profile-div{
            width:100%;
            height:90px;
            .profile{
                width:70%;
                float:right;
                margin-top:12px;
                img{
                    float:left;
                    height:50px;
                    width:50px;
                }
                .text{
                    float:left;
                    width:80%;
                    text-align: left;
                    margin-left:20px;
                    padding-top: 12px;;
                    h3{
                        font-size:15px;
                        font-weight:700;
                        margin-bottom: 0;
                    }
                    p{
                        margin-top: 0;;
                        font-size:13px;
                    }
                }
            }
        }
        
        a{
            button{
                border:1px solid $gold;
                width:120px;
                height:2.8em;
                color:#fff;
                font-size:13px;
                font-weight:700;
                background-color: transparent;
                margin-top:30px;
            }
        }
        @media only screen and (max-width:320px){
            height:450px;
            .mx-auto{
                width:90%;
                padding:30px 0;
                h1{
                    font-size:17px;
                }
                p{
                    font-size:11px;
                }
            }
            .profile-div{
                .profile{
                    width:100%;
                    img{
                        height:40px;
                        width:40px;
                    }
                    .text{
                        width:75%;
                        padding-top:5px;
                        h3{
                            font-size:13px;
                        }
                        p{
                            font-size:11px;
                            margin-top:5px;
                        }
                    }
                }
            }
            a{
                button{
                    font-size:12px;
                    font-weight:600;
                }
            }
        }
        @media only screen and (min-width:321px) and (max-width:720px){
            height:450px;
            .mx-auto{
                width:85%;
                padding:40px 0;
                h1{
                    font-size:18px;
                }
                p{
                    font-size:13px;
                }
            }
            .profile-div{
                .profile{
                    width:80%;
                    img{
                        height:40px;
                        width:40px;
                    }
                    .text{
                        width:75%;
                        padding-top:5px;
                        h3{
                            font-size:13px;
                        }
                        p{
                            font-size:11px;
                            margin-top:5px;
                        }
                    }
                }
            }
            a{
                button{
                    font-size:12px;
                    font-weight:600;
                    margin-top:20px;
                }
            }
        }
    }
    

    .Coorperate{
        padding:50px 0;
        text-align:center;
        h1{
            text-transform: uppercase;
            font-weight: 800;
            font-size:27px;
            position: relative;
        }
        h1:after{
            position: absolute;
            content: '';
            height: 1px;
            bottom:-4px;
            left: 0;
            right: 0;
            margin:0 auto;
            width: 10%;
            background:$banner-footer-color;
        }
        p{
            a{
                color:$light-green;
                font-weight: 600;
                font-size:13px;
            }
        }
        .slider-nav{
            margin-top:40px;
            div{
                img{
                    margin:auto;
                }
                .slick-prev:before{
                    color:#000 !important;
                }
            }
        }
        @media only screen and (max-width:320px){
            h1{
                font-size:18px;
            }
            .slider-nav{
                div{
                    .mob-hide{
                        display: none;
                    }
                }
            }
        }
        @media only screen and (min-width:320px) and (max-width:720px){
            h1{
                font-size:18px;
            }
            .slider-nav{
                div{
                    .mob-hide{
                        display: none;
                    }
                }
            }
        }
    }

    .account{
        display: none;
        width:100%;
        top:100px;
        height: auto;
        padding-bottom: 50px;
        position: fixed;
        left:0;
        z-index: 9999;
        //display: block;
        background-color: #f7f7f7;
        .container{  
           border-top:1px solid rgba($header-color,0.4);
        }
        .col-md-3{
            padding: 0;
            text-align: left;
            padding-top: 20px;
            font-weight: 400;
            color:$light-green;
             i{
                float: right;
                display: inline-block;
                cursor:pointer;
                transition: 0.2s ease-in-out;
            }
            i:hover{
                color:$banner-footer-color;
            }
            p{
                font-weight:700;
                margin-bottom:5px;
                margin-top: 20px;
            }
            li{
                list-style: none;
                font-size:12px;
                line-height: 22px;
                color:#000;
                cursor:pointer; transition: 0.2s ease-in-out;
                a{
                    color:#000;
                }
                a:hover{
                    text-decoration: none;
                }
            }
           
            li:hover{
                font-weight: 600;
            }
            img{
                height:350px;
                width:233px;
            }
            
        }
    }
    .Loan{
        //display: none;
        @extend .account;
        p{
            font-weight:700;
          
            color:#000;
        }
    }
    .savings{
        @extend .Loan;
    }
    .about-us{
        @extend .Loan;
    }
    .media{
        @extend .Loan;
    }
    .investor{
        @extend .Loan;
    }
